In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
mydata=pd.read_excel('C:/Users/anand/Downloads/Dataset_w6.xlsx')

In [6]:
mydata

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,11068.9,118,16324
192,Viet Nam,South-easternAsia,330967,95541,2067.9,136,174111
193,Yemen,WesternAsia,527968,28250,1106.4,136,6861
194,Zambia,EasternAfrica,752612,17094,1311.1,179,7442
195,Zimbabwe,EasternAfrica,390757,16530,890.4,99,5212

In [9]:
mydata.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864,35530,623.2,125,3568
1,Albania,SouthernEurope,28748,2930,3984.2,134,4669
2,Algeria,NorthernAfrica,2381741,41318,4154.1,160,47091
3,Angola,MiddleAfrica,1246700,29784,4714.1,175,8790
4,Antigua and Barbuda,Caribbean,442,102,14764.5,88,491

# Find out how many countries are there in the dataset.

In [7]:
mydata['country'].count()

196

# Find out how many countries with respect to the region are available in the data set

In [8]:
mydata['Region'].value_counts()

WesternAsia          18
EasternAfrica        17
Caribbean            16
WesternAfrica        15
SouthAmerica         12
SouthernEurope       12
South-easternAsia    11
NorthernEurope       10
EasternEurope        10
MiddleAfrica          9
SouthernAsia          9
CentralAmerica        8
EasternAsia           7
WesternEurope         7
NorthernAfrica        5
Polynesia             5
CentralAsia           5
SouthernAfrica        5
Melanesia             5
Micronesia            4
NorthernAmerica       4
Oceania               2
Name: Region, dtype: int64

# Average GDP per capita (current US$)

In [41]:
mydata_grouped1 = pd.DataFrame(mydata.groupby(["Region"])["GDP per capita (current US$)"].mean())
mydata_grouped2 = pd.DataFrame(mydata.groupby(["Region"])["International trade: Imports (million US$)"].mean())

In [49]:
print("Highest GDP Per capita:")
gdp=mydata_grouped1.loc[mydata_grouped1['GDP per capita (current US$)'].idxmax()]
gdp.to_frame()

Highest GDP Per capita:

                              NorthernAmerica
GDP per capita (current US$)          57659.0

Northern America has the highest GDP in average

# Average  International trade: Imports (million US$)

In [61]:
print("Highest International Trade:")
itt=mydata_grouped2.loc[mydata_grouped2["International trade: Imports (million US$)"].idxmax()]
itt.to_frame()

Highest International Trade:

                                            NorthernAmerica
International trade: Imports (million US$)        663552.25

Northern America has the highest average sales

# Region which is more consistent with respect to GDP

In [60]:
const=pd.DataFrame(mydata.groupby(["Region"])["GDP per capita (current US$)"].std().sort_values(ascending=False))
const.head(1)

             GDP per capita (current US$)
Region
EasternAsia                  27485.120923

Eastern Asia has the highest consistance and has the highest standard deviation